body {
    text-align: center;
    font-family: 'Kiwi Maru', serif;
}

#menu {
    /* グリッド表示（横並び） */
    display: grid;
    /* 行や列の隙間 */
    gap: 30px;
    /* グリッドの横幅: 繰り返し(親要素の大きさに合わせる)
     スペースが余る場合、余白
     auto-fillは空のグリッドを作成する */
    /* 1frは残りを分配するという意味 */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1020px;
    margin: auto;
    padding: 30px;
}

img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

h1 {
    margin: 30px 0;
    font-size: 40px;
}

h2 {
    margin-top: 6px;
}